/* ANCHOR Common */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ANCHOR Clearfix */
.clearfix::before {
    display: table;
    content: "";
    clear: both;
}
/* /Clearfix */

/* ANCHOR Display */
.dy-flex {
    display: flex;
}
/* /Display */

/* ANCHOR Flex-Direction */
.dy-flex-col {
   flex-direction: column; 
}
/* /Flex-Direction */

/* ANCHOR Position */
.pn-relative {
    position: relative;
}
/* /Position */


body {
    background-color: #1A1A1A;
    cursor: default;
}

/* /Common */

/* ANCHOR Header */

header {
    height: 50px;
}

header .row {
    justify-content: space-between;
    height: 100%;
}

header .row .col-left,
header .row .col-right {
    align-items: center;
    color: #fff;
    /* font-size: 1.1em; */
}

/* ANCHOR Header Col-Left */
header .row .col-left .shield,
header .row .col-left .recording,
header .row .col-right .view {
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    padding: auto 5px;
    background-color: #111212;
}

header .row .col-left .shield i {
    color: #23D959;
}

header .row .col-left .recording i,
header .row .col-left .recording p {
    margin: 0 5px;
}

header .row .col-left .recording i {
    color: red;
}
/* /Header Col-Left */

/* ANCHOR Col-Right*/
header .row .col-right .view {
    /* background-color: rebeccapurple; */
}
header .row .col-right .view i,
header .row .col-right .view p {
    margin: 0 5px;
    cursor: pointer;
}
/* /Col-Right */

/* /Header */

/* ANCHOR Main */
main {
    height: calc(100vh - 100px);
    /* background-color: burlywood; */
}

main .row {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* ANCHOR Center */


main .row .center {
    width: 80%;
    height: 100%;
    overflow: hidden;
}

main .row .center #page1,
main .row .center #page2 {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

main .row .center .user {
    position: relative;
    width: calc((100% / 5) - 10px * 2);
    height: calc((100% / 3) - 10px * 2);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

main .row .center .user .cam{
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

main .row .center .user .info {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

main .row .center .user .info i {
    cursor: pointer;
    margin: 0 2px;
}

main .row .center .user .info span {
    margin: 0 2px;
}


main .row .center .user.talking {
    border: 4px solid yellow;
}

main .row .center .user .info i {
    color: red;
}

main .row .center .user.talking .info i {
    color: greenyellow;
}

/* /Center */

/* ANCHOR Left & Right */

main .row a {
    text-decoration: none;
}
main .row a .left,
main .row a .right {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(#212121, #050505);
}

main .row a .left i,
main .row a .right i {
    margin: 10px;
    color: #2DBAFF;
    font-size: 2em;
}

main .row a .left p,
main .row a .right p {
    font-size: 0.8em;
    color: #7E7E7E;
}
/* /Left & Right */

/* /Main */

/* ANCHOR Footer */
footer {
    height: 50px;
    color: #fff;
}

footer .row {
    height: 100%;
    justify-content: space-between;
    background-color: #222426;
}

footer .row .left,
footer .row .right,
footer .row .center {
    /* border: 2px solid tomato; */
}

footer .row .left {
    width: calc(10% + 20px * 2);
}

footer .row .center {
    width: calc(50% + 20px * 2);
}

footer .row .right {
    width: calc(10% + 20px * 2);
}

footer .row .left .button,
footer .row .right .button,
footer .row .center .button {
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    color: #AAABAC;
    font-size: 0.8em;
    cursor: pointer;
}

footer .row .right .button {
    background-color: #E02828;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

footer .row .left .button .icon i,
footer .row .right .button .icon i,
footer .row .center .button .icon i {
    margin: 0 5px;
}

footer .row .center .button .icon .fa-user-friends::after {
    position: absolute;
    top: -5px;
    right: -5px;
    content: "34";
    font-size: 0.6em;
}

/* ANCHOR Colors */
footer .row .center .txt-color-green {
    color: #23D959;
    /* border: 1px solid red; */
}
/* /Colors */

/* /Footer */